<?xml version='1.0' encoding='utf-8'?>
<widget id="tv.learntoprogram.restaurantRow" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Restaurant Row</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Mark Lassoff
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <meta http-equiv="Content-Security-Policy" content="
    default-src *; 
    style-src * 'unsafe-inline'; 
    script-src * 'unsafe-inline'; 
    media-src *; img-src * data:;" />
</widget>
